<div class="profile">
  <h1>Edit Profile</h1>
  <div class="profile-picture">
    <img id="ppicture"  alt="Profile Picture">

  </div>
  <div class="form">
    <div class="form-group">
      <label for="lastname">Username</label>
      <h3 type="text" id="lastname"  ></h3>
    </div>
    <div class="form-group">
      <label for="firstname">Name</label>
      <h3 type="text" id="firstname" ></h3>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <h3 type="email" id="email" ></h3>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <h3 type="password" id="password" >*******</h3>
    </div>

    <div class="form-group">
      <label for="score">Score</label>
      <h3 type="text" id="score" ></h3>
    </div>
    <div class="form-group">
      <button  id="logout">Logout</button>
    </div>
  </div>
</div>
