<div class="profile">
  <h1>Edit Profile</h1>
  <div class="profile-picture">
    <img src="https://via.placeholder.com/150x150" alt="Profile Picture">
    <input type="file" id="profile-picture-input" accept="image/*">
    <label for="profile-picture-input">Choose a file</label>
  </div>
  <div class="form">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" value="userName" readonly>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" value="fullNamae">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" value="userName@yahoo.com">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" value="somepassword">
    </div>
    <div class="form-group">
      <button type="submit" id="save-button">Save Changes</button>
    </div>
  </div>
</div>
