<div>
  <div class="question">
    <h1 class="question-title">How do I add a design to my div?</h1>
    <p class="question-text">I'm trying to add a design to my div using SCSS. Can someone give me an example?</p>
    <img class="question-image" src="https://picsum.photos/400/300" alt="Example image">
    <p class="question-info"><span class="question-user">John Smith</span> asked on April 29, 2023</p>
  </div>
  <ul id="answer-list"></ul>
  <button class="answerButton" routerLink="/answer-component">Add Answer</button>
</div>
