<div>
  <div class="question">
    <h1 class="question-title">Trouble choosing the appropriate gift?</h1>
    <p class="question-text">I'm trying to buy a gift for my nephew, could you give me some ideas?</p>
    <img class="question-image" src="https://picsum.photos/400/300" alt="Example image">
    <p class="question-info"><span class="question-user">TroubledUncle</span> asked on April 29, 2023</p>
  </div>
  <ul id="answer-list"></ul>
  <button class="answerButton" routerLink="/answer-component">Add Answer</button>
</div>
