<div id="header" class="header" >

  <span>
    <div class="container">
      <a class="logo" href="">StackOverflow</a>
      <nav>
        <ul>

          <li>
            <form class="search-form">
              <input type="text" placeholder="Search...">
              <button type="submit" class="buttonh"><i class="fa fa-search">go</i></button>
            </form>
          </li>
          <li>
            <a href="/user-component" class="buttonh"><i class="fa fa-user">UserProfile</i></a>
          </li>
        </ul>
      </nav>
    </div>
  </span>
  </div>
